body {
    position: relative;
    overflow: hidden;
}

/* make them unselectable */
#search, #controls {
            user-select: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
}

#header {
    position: relative;
    overflow: hidden;
    z-index: 102;
}

#map-main {
    z-index: 100;
}

#overlay {
    position: relative;
    z-index: 101;
    top: 20px;
    height: 0;
}

#search {
    /* so it doesn't capture mouse events */
    width: 30% !important;
}

#controls {
    position: relative;
    /* so it doesn't capture mouse events */
    height: 1px;
}
