body {
    position: relative;
    overflow: hidden;
}

#stamen {
    right: 0;
}

/* make them unselectable */
#search, #controls {
            user-select: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
}

#header {
    position: relative;
    overflow: hidden;
    z-index: 102;
}

#map-main {
    z-index: 100;
}

#overlay {
    position: relative;
    z-index: 101;
    top: 20px;
    height: 0;
}

#search {
    /* so it doesn't capture mouse events */
    width: 300px !important;
}

#controls {
    position: relative;
    /* so it doesn't capture mouse events */
    height: 1px;
}

/*
@media only screen and (max-width : 600px) {
    #header {
        padding-top: 10px;
    }

    #stamen {
        line-height: 80%;
        position: relative;
        margin: 0;
        padding: 0;
        left: auto;
        right: auto;
        bottom: auto;
    }

    #overlay {
        top: 19px;
    }

    #search {
        margin-bottom: 0;
    }
}
*/
