a {
    cursor: pointer;
}
a:link, a:visited, a:active {
    color: inherit;
    text-decoration: underline;
}

.map {
}

.light {
    color: #888;
}

/* don't allow selections */
.map, .controls, #hero {
            user-select: none;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
         -o-user-select: none;
}

#header {
    z-index: 200;
    padding-top: 40px;
    background: black;
    margin-bottom: 0;
}

    #header h1 {
        font-family: inherit !important;
        font-weight: bold !important;
    }

    #header h1 span {
        color: yellow;
    }

    #header .navbar-inner {
        background: none;
        filter: none; /* for IE8 */
    }

    #header .container {
        position: relative;
    }

#stamen {
    position: absolute;
    right: -22px;
    bottom: -24px;
    font-size: 70px;
    line-height: 100%;
    font-weight: bold;
    letter-spacing: -2px;
    text-decoration: none;
}


#hero {
    background-color: #ccc;
    position: relative;
    height: 580px;
}

.controls {
    font-size: 24px;
    line-height: 100%;
}

#controls {
    position: absolute;
    z-index: 9999;
}

.controls a {
    cursor: pointer;
    font-weight: bold;
    color: black;
    background: yellow;
    text-decoration: none;
    padding: 6px;
    display: block;
    float: left;
    margin-right: 8px;

    line-height: 1;
    height: auto;
}

.controls a svg {
    display: inline-block;
    vertical-align: top;
}

#hero #map-main {
    position: absolute;
    width: 100%;
    height: 100%;
}

#map-main #bottom {
    position: absolute;
    bottom: 25px;
    width: 100%;
    z-index: 99;
}

#map-main h2 {
    line-height: 34px;
    display: inline-block;
    /*background: black;*/
    color: white;
    margin: 0;
    padding: 0 10px;
}

    #hero h2 a {
        font-size: inherit !important;
        line-height: inherit !important;
        text-decoration: none;
    }

    #hero h2 i {
        vertical-align: middle;
    }

#hero #maps-sub {
    position: relative;
    padding-top: 20px;
    height: 0;
}

#hero #maps-sub .map {
    position: relative;
    margin: 0 0 20px auto;
    width: 320px;
    height: 230px;
    background-color: #999;
    /* border: 1px dotted black; */
}

#hero #maps-sub h3 {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 10px;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 100;
    line-height: 28px;
    height: 28px;
}

#hero #maps-sub h3 a {
    display: inline-block;
    color: #000;
    background-color: #ff0;
    padding: 0 7px;
    text-decoration: none;
    vertical-align: top;
    *zoom: 1;
}

#main-title {
    padding-right: 0 !important;
}

h2#main-title {
    line-height: 1;
    padding: 0;
}

#main-title .provider-name {
    padding-right: 12px;
}

#main-title button .provider-name {

}

#main-title a {
    vertical-align: top;
}

#main-title .icon {
    background: #ff0;
    color: #000;
    display: inline-block;
    font-weight: normal;
    width: 35px;
    text-align: center;
}

#main-title a {
    display: inline-block;
    background: #ff0;
    color: #fff;
    border: 0;
    font-weight: normal;
    width: auto;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 24px;
    padding: 0;
    margin: 0;
    outline: 0;
    overflow: hidden;
}

#hero h2#main-title a {
    line-height: 35px !important;
}

#main-title a span {
    display: inline-block;
}

#main-title a span:first-child  {
    background: #000;
    padding: 0 12px 0 10px;
    font-weight: bold;
}

#main-title a span:last-child {
    color: #000;
    width: 35px;
}

#main-title a.donate-link {
    color: #000;
    padding: 0 12px 0 10px;
    font-weight: bold;
}

#content {
    margin-top: 2em;
}

#content p {
    font-size: 15px;
    line-height: 21px;
}

#content h2,
#content h3 {
    margin-bottom: .5em;
}

#content h4 {
}

#content h4.span2 {
    text-align: right;
}

#desc {
    margin: 0 0 20px 0;
}

#content div.tiles {
    margin-bottom: 18px;
}

#content .map {
    display: inline-block;
    height: 156px;
}

#attribution h4 {
    font-size: 15px;
    line-height: 21px;
    padding-top: 2px;
}

#toner-attr,
#attr {
    display: inline-block;
    background-color: #ffc;
    padding: 2px 8px 3px 8px;
}

#toner-attr-html,
#attr-html {
    display: none;
}

#toner-attr-show-html,
#attr-show-html {
    color: black !important;
    text-decoration: none;
}

#toner-attr-show-html span,
#attr-show-html span {
    padding: 0 4px;
    text-decoration: underline;
}

div.usage {
    margin-top: 18px;
}

#usage-intro {
    margin-bottom: 18px;
}

.tiles .span3 ul {
    /* to line the lists up with the paragraphs */
    margin-top: 38px;
}

#footer {
    margin-top: 3em;
    margin-bottom: 4em;
}

.com { color: #93a1a1; }
.lit { color: #195f91; }
.pun, .opn, .clo { color: #93a1a1; }
.fun { color: #dc322f; }
.str, .atv { color: #D14; }
.kwd, .linenums .tag { color: #1e347b; }
.typ, .atn, .dec, .var { color: teal; }
.pln { color: #48484c; }

pre.prettyprint {
  padding: 8px;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  margin-bottom: 9px;
}
.prettyprint.linenums {
  -webkit-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
     -moz-box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
          box-shadow: inset 40px 0 0 #fbfbfc, inset 41px 0 0 #ececf0;
}

/* Specify class=linenums on a pre to get line numbering */
ol.linenums {
  margin: 0 0 0 33px; /* IE indents via margin-left */
}
ol.linenums li {
  padding-left: 12px;
  color: #bebec5;
  line-height: 18px;
  text-shadow: 0 1px 0 #fff;
}

#hero {
    -webkit-transition-property: height;
    -webkit-transition-duration: .5s;
}

/* if you use Bootstrap, you need this for ModestMaps */
img.tile {
    max-width: auto !important;
}

.controls a,
.controls label,
.map h3 a,
#search input,
#search button {
    box-shadow: 0 0 8px rgba(0, 0, 0, .3);
}

.attribution {
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    background: black;
    padding: 3px 5px 2px;
    margin: 0;
    z-index: 100;
}

textarea {
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin: 0;
}

.toggle a.toggler {
    float: right;
    margin-right: 0;
}

.toggle a.toggler.active {
    background: #000;
    color: #fff;
}

a#toggle-feedback {
    margin-left: 8px;
    display: inline-block;
    font-size: 14px;
    line-height: 25px;
    padding-bottom: 0;
    padding-left: 18px;
    background-image: url(../images/bug.png);
    background-position: left 16px;
    background-repeat: no-repeat;
    opacity: .5;
}
a#toggle-feedback.active {
    opacity: 1;
}

#feedback {
    position: absolute;
    left: 0;
    top: 0;
    width: 316px;
    color: #fff;
    background: black;
    padding: 10px;
    padding-top: 0;
}

#feedback form,
#feedback form p {
    margin: 0;
}
#feedback form label {
    color: #aaa;
}

#feedback form textarea {
    margin: 10px 0;
}

#feedback #recaptcha {
    margin-bottom: 10px;
}

#feedback .btn {
    margin-bottom: 0 !important;
}

#license .span2 a {
    display: inline-block;
    *zoom: 1;
}

#maps-sub #embed {
    position: absolute;
    text-align: right;
    top: 20px;
    right: 0px;
    z-index: 9999;
    display: none;
}

#embed-content {
    clear: both;
    width: 320px;
    color: #fff !important;
    background: #000;
    padding: 10px;
}

#embed.controls a {
    float: right;
}
